body{
    background-color:#dfe2e8;
    padding-top: 1em;
    }
    label {
        display: inline-block;
        margin-bottom: .09rem;
    }
    #bloco3 {
    width:344px; 
    
    background: rgba(242,242, 242, 1 );
    padding-bottom:2px;
}
#bloco4 {
    width:359px; 
    
    background: rgba(242,242, 242, 1 );
    padding-bottom:2px;
}
#bloco5{
    width:344px; 
    
    background: rgba(242,242, 242, 1 );
    padding-bottom:5px; 
}
#check{
    background-color: rgba(242,242, 242, 1 );
    
}
#display{
    text-align:right;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:2px;
    
}
    #button{
        background-color:rgba(243, 246, 244, 0.883);
        border-radius: 2px;
        
        width: 71px;
        height:71px;
        font-size: 27px;
        color:rgba(0, 0, 0, 0.883);
    }
    #button13{
        background-color:#f2f5f3;
        border-radius: 2px;
        text-align: center;
        width: 71px;
        height:71px;
        font-size: 27px;
        color:rgba(0, 0, 0, 0.883);
    }
        #buttonoperation{
        background-color:rgba(107, 112, 108, 0.897);
        border-radius: 2px;
        
        width: 71px;
        height:71px;
        font-size: 26px;
        color:rgba(255, 255, 255, 0.883);
    }
    #buttonoperation1{
        background-color:rgba(107, 112, 108, 0.897);
        border-radius: 2px;
        
        width: 71px;
        height:147px;
        font-size: 26px;
        color:rgba(255, 255, 255, 0.883);
    }
    #button2{
        background-color:rgba(80, 83, 90, 0.911);
        border-radius: 2px;
        border: gray 1px ;
        width: 149px;
        height:71px;
        font-size: 26px;
        color:rgba(255, 255, 255, 0.883);
    }
    #display{
        border: 1px solid rgba(6, 68, 241, 0.911);
        background-color:rgba(221, 248, 241, 0.212);
        width: 297px;
        height: 50px;
        color:rgba(0, 0, 0, 0.883);
        font-size: 24px;
    }

    .seleccion{
			border: 2px solid #58ACFA;
			background-color:rgb(240, 240, 240);
			color:rgb(27, 25, 25);
			
			width: 168px;
			height:35px;
            font-size: 18px;
		}
        .seleccion1{
			border: 2px solid #58ACFA;
			background-color:rgb(240, 240, 240);
			color:rgb(27, 25, 25);
			font-size: 13px;
			width:91px;
			height:35px;
            text-align:right;

		}
        .seleccion2{
			border: 2px solid #58ACFA;
			background-color:rgb(240, 240, 240);
			color:rgb(27, 25, 25);
			font-size: 13px;
			width:112px;
			height:35px;
            text-align:right;
        }
        label{
            font-size:18px;
        }
        .tipe1{
			
			background-color:rgb(240, 240, 240);
			color:rgb(27, 25, 25);
			font-size: 20px;
			width:85px;
			height:35px;
            
		}
input{
            width: 70px;
            margin-right:2px;
        }
#conversor{
    padding-top:10px;
    padding-bottom:15px;
}